{% extends "_layout.twig" %}

{% block layout_content %}
    <div class="container mt-4">

        {% for book in books %}
        <div class="mb-4 p-4 bg-light rounded">
            <a href="{{ book.base_url }}" class="d-block mb-3 btn btn-lg btn-outline-dark text-start p-3">{{ book.name }}</a>
            <div class="d-flex gap-2">
                {% for tab in book.tabs %}
                    <a href="{{ tab.url }}" class="btn btn-sm btn-outline-primary px-3">{{ tab.text }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        {% block content %}

        {% for object in theninth_wave %}
        Название: {{ object.title }} <br>
        {% endfor %}
    

        <pre>
            {{ dump(theninth_wave) }}
        </pre>
            <ul class="list-group">
                <!-- ... -->
            </ul>
        {% endblock %}

    </div>
{% endblock %}

